<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
</head>
<body>
	
	<h1 th:text="${resultado}"></h1>
	<hr/>
	 <div th:switch="${option}">
		<ul id="index_menu">
			<li th:case ="'1'">
				<a th:href="@{/people}">Volver a opciones de personajes</a>
			</li>
			<li th:case ="'2'">
				<a th:href="@{/starships}">Volver a opciones de naves</a>
			</li>
			<li th:case ="'3'">
				<a th:href="@{/vehicles}">Volver a opciones de vehículos</a>
			</li>
			<li th:case ="'4'">
				<a th:href="@{/species}">Volver a opciones de species</a>
			</li>
			<li th:case ="'5'">
			<a th:href="@{/planets}">Volver a opciones de planetas</a>
		</li>
		</ul>
		<br><br><br><br><br>
		<a class="back_button" th:href="@{/}">Volver al menú principal</a>
		</div>
</body>
</html>